- if flash.now[:alert] || flash.now[:notice]
  #flashbox.row
    .span12
      = alert(flash.now[:alert], "error") if flash.now[:alert]
      = alert(flash.now[:notice], "success") if flash.now[:notice]