@import "bootstrap"
@import "bootstrap-responsive"
@import "font-awesome"
@import "base-admin"
@import "base-admin-responsive"
@import "dashboard"

// Override for Bootstrapbuilder
[class^="icon-"], [class*=" icon-"]
  background-image: image-url("glyphicons-halflings.png")

.icon-white
  background-image: image-url("glyphicons-halflings-white.png")



small
  font-size: 1em
  color: gray
  p
    font-size: 0.8em
  ul
    font-size: 0.8em